
body, ul {
    margin: 0;
    padding: 0;
}

ul.navbar {
    list-style-type: none; 
    overflow: hidden; 
    width: fit-content;
    margin: 10px;
}

ul.navbar li {
    float: left;
    margin-right: 4px; 
}

ul.navbar li a {
    display: block; 
    color: white; 
    text-decoration: none; 
    text-align: center;
    padding: 10px;
    background-color: black;
    font-weight: bold;
}
