
body {
    background-color: #f2f2f2;
    padding: 20px;
}

h2 {
    font-weight: 500;
}

.container {
    background-color: lightgrey;
    border-radius: 8px;
    padding: 20px;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;   
    margin-top: 6px; 
    margin-bottom: 16px; 
}

input[type=submit] {
    background-color: green; 
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}
